<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Representative Profile Page</h2>

      <div class="row">
        <div class="col-md-4">
          <% if @photo_url_exists == true %> 
            <%= image_tag(@details.photo_url, alt: "Representative Photo", class: "img-fluid rounded") %>
          <% else %>
            <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/4/47/GarvaGriha_in_KaryaBinayak.jpg", alt: "Default Photo", class: "img-fluid rounded") %>
          <% end %>
        </div>

        <div class="col-md-8">
          <ul class="list-group" id="details">
            <li class="list-group-item">
              <strong>Name:</strong>
              <%= @representative.name %>
            </li>
            <li class="list-group-item">
              <strong>OCD ID:</strong>
              <%= @representative.ocdid %>
            </li>
            <li class="list-group-item">
              <strong>Title:</strong>
              <%= @representative.title %>
            </li>

            <% if @details.address %>
              <li class="list-group-item">
                <strong>Address:</strong>
                <%= @details.address[0].line1 %>, <%= @details.address[0].city %>, <%= @details.address[0].state %> <%= @details.address[0].zip %>
              </li>
            <% end %>

            <% if @details.party %>
              <li class="list-group-item">
                <strong>Political party:</strong>
                <%= @details.party %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <button class="btn btn-primary col-2" onclick="goBack()">Back to List</button>
      </div>
    </div>
  </div>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>
